#Account_space{
  text-align: right;
}

#Login_Modal{
  background-color: skyblue;
  margin: 1px solid black;
  width: 300px;
  padding: 20px;
  visibility: hidden;
  display: none;
}

#Login_Modal div{
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  text-align: left;
  flex: 1;
}

input{
  padding: 5px;
}

#btns{
  float: right;
}

h1{
  text-align: center;
  color: blue;
  left: 600px;
}

#Insert{
  width: 700px;
  margin-left: 300px;
  margin-right: 15px;
}

#Insert_btn{
  height: 27px;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td{
  border: 1px solid black;
}

#head{
  background-color: green;
  color: white;
}
